# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
### VisualStudio template
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/
### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# next.js build output
.next

dlib/.gitignore
dlib/.hgignore
dlib/.hgtags
dlib/.travis.yml
dlib/CMakeLists.txt
dlib/ISSUE_TEMPLATE.md
dlib/MANIFEST.in
dlib/README.md
dlib/dlib/CMakeLists.txt
dlib/dlib/LICENSE.txt
dlib/dlib/algs.h
dlib/dlib/all/
dlib/dlib/any.h
dlib/dlib/any/
dlib/dlib/appveyor/
dlib/dlib/array.h
dlib/dlib/array/
dlib/dlib/array2d.h
dlib/dlib/array2d/
dlib/dlib/assert.h
dlib/dlib/base64.h
dlib/dlib/base64/
dlib/dlib/bayes_utils.h
dlib/dlib/bayes_utils/
dlib/dlib/bigint.h
dlib/dlib/bigint/
dlib/dlib/binary_search_tree.h
dlib/dlib/binary_search_tree/
dlib/dlib/bit_stream.h
dlib/dlib/bit_stream/
dlib/dlib/bits/
dlib/dlib/bound_function_pointer.h
dlib/dlib/bound_function_pointer/
dlib/dlib/bridge.h
dlib/dlib/bridge/
dlib/dlib/bsp.h
dlib/dlib/bsp/
dlib/dlib/byte_orderer.h
dlib/dlib/byte_orderer/
dlib/dlib/cassert
dlib/dlib/clustering.h
dlib/dlib/clustering/
dlib/dlib/cmake
dlib/dlib/cmake_utils/
dlib/dlib/cmd_line_parser.h
dlib/dlib/cmd_line_parser/
dlib/dlib/compress_stream.h
dlib/dlib/compress_stream/
dlib/dlib/conditioning_class.h
dlib/dlib/conditioning_class/
dlib/dlib/config.h
dlib/dlib/config.h.in
dlib/dlib/config_reader.h
dlib/dlib/config_reader/
dlib/dlib/console_progress_indicator.h
dlib/dlib/control.h
dlib/dlib/control/
dlib/dlib/cpp_pretty_printer.h
dlib/dlib/cpp_pretty_printer/
dlib/dlib/cpp_tokenizer.h
dlib/dlib/cpp_tokenizer/
dlib/dlib/crc32.h
dlib/dlib/crc32/
dlib/dlib/cstring
dlib/dlib/cuda/
dlib/dlib/data_io.h
dlib/dlib/data_io/
dlib/dlib/dir_nav.h
dlib/dlib/dir_nav/
dlib/dlib/directed_graph.h
dlib/dlib/directed_graph/
dlib/dlib/disjoint_subsets.h
dlib/dlib/disjoint_subsets/
dlib/dlib/dlib_basic_cpp_build_tutorial.txt
dlib/dlib/dlib_include_path_tutorial.txt
dlib/dlib/dnn.h
dlib/dlib/dnn/
dlib/dlib/enable_if.h
dlib/dlib/entropy_decoder.h
dlib/dlib/entropy_decoder/
dlib/dlib/entropy_decoder_model.h
dlib/dlib/entropy_decoder_model/
dlib/dlib/entropy_encoder.h
dlib/dlib/entropy_encoder/
dlib/dlib/entropy_encoder_model.h
dlib/dlib/entropy_encoder_model/
dlib/dlib/error.h
dlib/dlib/external/cblas/
dlib/dlib/external/libjpeg/
dlib/dlib/external/libpng/
dlib/dlib/external/pybind11/CMakeLists.txt
dlib/dlib/external/pybind11/CONTRIBUTING.md
dlib/dlib/external/pybind11/LICENSE
dlib/dlib/external/pybind11/README.md
dlib/dlib/external/pybind11/tools/
dlib/dlib/external/zlib/
dlib/dlib/filtering.h
dlib/dlib/filtering/
dlib/dlib/float_details.h
dlib/dlib/fstream
dlib/dlib/general_hash/
dlib/dlib/geometry.h
dlib/dlib/geometry/
dlib/dlib/global_optimization.h
dlib/dlib/global_optimization/
dlib/dlib/graph.h
dlib/dlib/graph/
dlib/dlib/graph_cuts.h
dlib/dlib/graph_cuts/
dlib/dlib/graph_utils.h
dlib/dlib/graph_utils/
dlib/dlib/graph_utils_threaded.h
dlib/dlib/gui_core.h
dlib/dlib/gui_core/
dlib/dlib/gui_widgets.h
dlib/dlib/gui_widgets/
dlib/dlib/hash.h
dlib/dlib/hash_map.h
dlib/dlib/hash_map/
dlib/dlib/hash_set.h
dlib/dlib/hash_set/
dlib/dlib/hash_table.h
dlib/dlib/hash_table/
dlib/dlib/http_client/
dlib/dlib/image_io.h
dlib/dlib/image_keypoint.h
dlib/dlib/image_keypoint/
dlib/dlib/image_loader/
dlib/dlib/image_processing.h
dlib/dlib/image_processing/
dlib/dlib/image_saver/
dlib/dlib/image_transforms.h
dlib/dlib/image_transforms/
dlib/dlib/interfaces/
dlib/dlib/iomanip
dlib/dlib/iosfwd
dlib/dlib/iosockstream.h
dlib/dlib/iosockstream/
dlib/dlib/iostream
dlib/dlib/is_kind.h
dlib/dlib/istream
dlib/dlib/java/
dlib/dlib/linker.h
dlib/dlib/linker/
dlib/dlib/locale
dlib/dlib/logger.h
dlib/dlib/logger/
dlib/dlib/lsh.h
dlib/dlib/lsh/
dlib/dlib/lz77_buffer.h
dlib/dlib/lz77_buffer/
dlib/dlib/lzp_buffer.h
dlib/dlib/lzp_buffer/
dlib/dlib/manifold_regularization.h
dlib/dlib/manifold_regularization/
dlib/dlib/map.h
dlib/dlib/map/
dlib/dlib/matlab/
dlib/dlib/matrix.h
dlib/dlib/matrix/
dlib/dlib/md5.h
dlib/dlib/md5/
dlib/dlib/member_function_pointer.h
dlib/dlib/member_function_pointer/
dlib/dlib/memory_manager.h
dlib/dlib/memory_manager/
dlib/dlib/memory_manager_global.h
dlib/dlib/memory_manager_global/
dlib/dlib/memory_manager_stateless.h
dlib/dlib/memory_manager_stateless/
dlib/dlib/metaprogramming.h
dlib/dlib/misc_api.h
dlib/dlib/misc_api/
dlib/dlib/mlp.h
dlib/dlib/mlp/
dlib/dlib/noncopyable.h
dlib/dlib/numeric_constants.h
dlib/dlib/numerical_integration.h
dlib/dlib/numerical_integration/
dlib/dlib/opencv.h
dlib/dlib/opencv/
dlib/dlib/optimization.h
dlib/dlib/optimization/
dlib/dlib/ostream
dlib/dlib/pipe.h
dlib/dlib/pipe/
dlib/dlib/pixel.h
dlib/dlib/platform.h
dlib/dlib/python.h
dlib/dlib/python/
dlib/dlib/quantum_computing.h
dlib/dlib/quantum_computing/
dlib/dlib/queue.h
dlib/dlib/queue/
dlib/dlib/rand.h
dlib/dlib/rand/
dlib/dlib/random_forest.h
dlib/dlib/random_forest/
dlib/dlib/ref.h
dlib/dlib/reference_counter.h
dlib/dlib/reference_counter/
dlib/dlib/revision.h.in
dlib/dlib/sequence.h
dlib/dlib/sequence/
dlib/dlib/serialize.h
dlib/dlib/server.h
dlib/dlib/server/
dlib/dlib/set.h
dlib/dlib/set/
dlib/dlib/set_utils.h
dlib/dlib/set_utils/
dlib/dlib/simd.h
dlib/dlib/simd/
dlib/dlib/sliding_buffer.h
dlib/dlib/sliding_buffer/
dlib/dlib/smart_pointers.h
dlib/dlib/smart_pointers/
dlib/dlib/smart_pointers_thread_safe.h
dlib/dlib/sockets.h
dlib/dlib/sockets/
dlib/dlib/sockstreambuf.h
dlib/dlib/sockstreambuf/
dlib/dlib/sort.h
dlib/dlib/sparse_vector.h
dlib/dlib/sqlite.h
dlib/dlib/sqlite/
Would rem
ove dlib/dlib/sstream
dlib/dlib/stack.h
dlib/dlib/stack/
dlib/dlib/stack_trace.cpp
dlib/dlib/stack_trace.h
dlib/dlib/static_map.h
dlib/dlib/static_map/
dlib/dlib/static_set.h
dlib/dlib/static_set/
dlib/dlib/statistics.h
dlib/dlib/statistics/
dlib/dlib/std_allocator.h
dlib/dlib/stl_checked.h
dlib/dlib/stl_checked/
dlib/dlib/string.h
dlib/dlib/string/
dlib/dlib/svm.h
dlib/dlib/svm/
dlib/dlib/svm_threaded.h
dlib/dlib/sync_extension.h
dlib/dlib/sync_extension/
dlib/dlib/test/
dlib/dlib/test_for_odr_violations.cpp
dlib/dlib/test_for_odr_violations.h
dlib/dlib/threads.h
dlib/dlib/threads/
dlib/dlib/time_this.h
dlib/dlib/timeout.h
dlib/dlib/timeout/
dlib/dlib/timer.h
dlib/dlib/timer/
dlib/dlib/timing.h
dlib/dlib/tokenizer.h
dlib/dlib/tokenizer/
dlib/dlib/travis/
dlib/dlib/tuple.h
dlib/dlib/tuple/
dlib/dlib/type_safe_union.h
dlib/dlib/type_safe_union/
dlib/dlib/uintn.h
dlib/dlib/unicode.h
dlib/dlib/unicode/
dlib/dlib/unordered_pair.h
dlib/dlib/vectorstream.h
dlib/dlib/vectorstream/
dlib/dlib/windows_magic.h
dlib/dlib/xml_parser.h
dlib/dlib/xml_parser/
dlib/docs/.logger_revnum
dlib/docs/README.txt
dlib/docs/bash_helper_functions
dlib/docs/docs/algorithms.xml
dlib/docs/docs/api.xml
dlib/docs/docs/bayes.xml
dlib/docs/docs/bayesopt_vs_lipo.svg
dlib/docs/docs/bigminus.gif
dlib/docs/docs/bigplus.gif
dlib/docs/docs/books.xml
dlib/docs/docs/boost.png
dlib/docs/docs/change_log.xml
dlib/docs/docs/compile.xml
dlib/docs/docs/compression.xml
dlib/docs/docs/containers.xml
dlib/docs/docs/dlib-icon-30x32.png
dlib/docs/docs/dlib-icon-32.png
dlib/docs/docs/dlib-icon-48.png
dlib/docs/docs/dlib-icon-64.png
dlib/docs/docs/dlib-icon.ico
dlib/docs/docs/dlib-logo-and-icons.svg
dlib/docs/docs/dlib-logo-small.png
dlib/docs/docs/dlib-logo.png
dlib/docs/docs/dlib.css
dlib/docs/docs/dlib.js
dlib/docs/docs/down.gif
dlib/docs/docs/enable_if.html
dlib/docs/docs/face_landmarking_example.png
dlib/docs/docs/faq.xml
dlib/docs/docs/find_max_global_example.mp4
dlib/docs/docs/find_max_global_example.png
dlib/docs/docs/find_max_global_example.webm
dlib/docs/docs/find_max_global_results_table.svg
dlib/docs/docs/graph_tools.xml
dlib/docs/docs/guipics/
dlib/docs/docs/heatmap.png
dlib/docs/docs/howto_contribute.xml
dlib/docs/docs/hubble_ultra_deep_field.jpg
dlib/docs/docs/image_gradient_x.jpg
dlib/docs/docs/image_gradient_xx.jpg
dlib/docs/docs/image_gradient_xy.jpg
dlib/docs/docs/image_gradient_y.jpg
dlib/docs/docs/image_gradient_yy.jpg
dlib/docs/docs/images/
dlib/docs/docs/imaging.xml
dlib/docs/docs/index.xml
dlib/docs/docs/intro.xml
dlib/docs/docs/jet.png
dlib/docs/docs/kernel_1a.txt
dlib/docs/docs/kernel_1a.xml
dlib/docs/docs/kernel_1b.txt
dlib/docs/docs/kernel_1b.xml
dlib/docs/docs/kernel_1c.txt
dlib/docs/docs/kernel_1c.xml
dlib/docs/docs/kernel_1da.txt
dlib/docs/docs/kernel_1da.xml
dlib/docs/docs/kernel_1db.txt
dlib/docs/docs/kernel_1db.xml
dlib/docs/docs/kernel_1ea.txt
dlib/docs/docs/kernel_1ea.xml
dlib/docs/docs/kernel_1eb.txt
dlib/docs/docs/kernel_1eb.xml
dlib/docs/docs/kernel_1ec.txt
dlib/docs/docs/kernel_1ec.xml
dlib/docs/docs/kernel_2a.txt
dlib/docs/docs/kernel_2a.xml
dlib/docs/docs/kernel_3a.txt
dlib/docs/docs/kernel_3a.xml
dlib/docs/docs/kernel_3b.txt
dlib/docs/docs/kernel_3b.xml
dlib/docs/docs/license.xml
dlib/docs/docs/linear_algebra.xml
dlib/docs/docs/main_menu.xml
dlib/docs/docs/metaprogramming.xml
dlib/docs/docs/minus.gif
dlib/docs/docs/ml.xml
dlib/docs/docs/ml_guide.dia
dlib/docs/docs/ml_guide.svg
dlib/docs/docs/network.xml
dlib/docs/docs/old_release_notes.xml
dlib/docs/docs/optimization.xml
dlib/docs/docs/other.xml
dlib/docs/docs/parsing.xml
dlib/docs/docs/plus.gif
dlib/docs/docs/python/
dlib/docs/docs/quadratic_image_models_IGARSS2013.pdf
dlib/docs/docs/rbf_big_gamma.gif
dlib/docs/docs/rbf_normal.gif
dlib/docs/docs/rbf_small_gamma.gif
dlib/docs/docs/release_notes.xml
dlib/docs/docs/right.gif
dlib/docs/docs/stylesheet.xsl
dlib/docs/docs/term_index.xml
dlib/docs/docs/tiled_pyramid_example.jpg
dlib/docs/docs/vs-cmake-gui.png
dlib/docs/docs/vs_mode_1.png
dlib/docs/docs/vs_mode_2.png
dlib/docs/docs/vs_mode_3.png
dlib/docs/docs/watershed.mp4
dlib/docs/docs/watershed.png
dlib/docs/docs/watershed.webm
dlib/docs/makedocs
dlib/docs/makerel
dlib/docs/testenv
dlib/docs/testenv_rel
dlib/examples/
dlib/python_examples/
dlib/setup.py
dlib/tools/
Would skip repository face_recognition/
